.container-hero_section {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    padding: 0rem 2rem;

    @media (max-width: 900px){
        grid-template-areas: 
        'left center center'
        'right right right'
        ;
    }

    @media (max-width: 500px){
        grid-template-areas: 
        'left left left'
        'center center center'
        'right right right'
        ;
    }


    &__left-side {
        display: grid;
        grid-template-rows: 1fr 1fr;

        @media (max-width: 900px){
           grid-area: left;
           grid-template-rows: none;
           gap: 8rem;
        }

        @media (max-width: 600px){
            gap: 1rem;
        }

        @media (max-width: 500px){
            grid-area: left;
            justify-content: center;
            margin-top: 2rem;
            margin-bottom: 2rem;
        }


        &--title-text {
            display: block;
            width: min-content;
            font-size: 2rem;
            font-weight: 800;
            text-transform: uppercase;

            @media (max-width: 900px){
                font-size: 1.5rem;
            }

            @media (max-width: 500px){
                margin: 0 auto;
                text-align: center;
                font-size: 1.8rem;
            }
        }

        &--text {
            display: flex;
            flex-direction: column;
            width: min-content;
            color: #000;

            @media (max-width: 500px){
                width: 100%;
            }

            
            :first-child{
                font-size: 2.5rem;
                font-weight: 600;
                
                @media (max-width: 900px){
                    font-size: 1.5rem;
                }
            }

            :nth-child(2){
                display: block;
                
                @media (max-width: 900px){
                    font-size: 0.9rem;
                }
            }

        }
    }

    &__middle-side{
        position: relative;
        display: flex;
        align-items: baseline;
        justify-content: center;

        @media (max-width: 900px){
            grid-area: center;
        }

        @media (max-width: 500px){
            grid-area: center;
            width: auto;
            height: 300px;
            margin-top: 1rem;
        }

        &--circle{
            z-index: -99;
            position: absolute;
            bottom: 0;
            width: 30rem;
            height: 30rem;
            border-radius: 50%;
            background: linear-gradient(135.74deg, #0bb5ff 14.09%, #6dd3fe 83.81%);

            @media (max-width: 900px){
                width: 80%;
                height: 100%;
            }

            @media (max-width: 500px){
                width: 100%;
            }
        }

        img {
            position: absolute;
            bottom: 0;
            width: 30rem;

            @media (max-width: 900px){
                width: 80%;
                height: 100%;
            }
        }
    }

    &__right-side{

        display: grid;
        grid-template-rows: 1fr 1fr ;

        @media (max-width: 900px){
            grid-area: right;
            display: flex;
            justify-content: space-around;
            margin: 2rem 0rem;
        }

        @media (max-width: 500px){
            grid-area: right;
        }

        &--trafic{
            text-align: right;

            @media (max-width: 500px){
                text-align: center;
            }

            :first-child{
                font-size: 2.5rem;
                font-weight: 800;
            }

            span{
                font-size: 1rem;
                font-style: italic;
            }
        }

        &--customer{
            text-align: right;

            @media (max-width: 500px){
                text-align: center;
            }

            :first-child{
                font-size: 2.5rem;
                font-weight: 800;
            }
        }
    }
}