.container-products{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 2rem;

    @media (max-width: 900px) {
        gap: 1rem;
    }

    @media (max-width: 500px) {
        padding: 0 0;
    }

    &-img{
        position: absolute;
        top: -3rem;
        left: 30%;
        width: 8rem;

        @media (max-width: 900px) {
            display: none;
        }
    }

    &__grid{
        display: grid;
        grid-template-columns: 25% auto;
        width: 90%;
        margin-top: 2rem;

        @media (max-width: 900px) {
            width: 80%;
            grid-template-columns: none;
            gap: 1rem;                
        }

        @media (max-width: 600px) {
            width: 95%;
            grid-template-columns: none;
            gap: 1rem;                
        }

        ul{
            display: flex;
            flex-direction: column;
            gap: 2rem;
            font-size: 1.3rem;
            font-weight: 500;
            list-style: none;

            @media (max-width: 900px) {
                gap: 1rem;
                flex-direction: row;
            }

            @media (max-width: 600px) {
                margin-bottom: 1rem;
                font-size: 1rem;
                font-weight: 600;
                justify-content: center;         
            }

            li{
                &:hover{
                    color: var(--pink);
                    cursor: pointer;
                }
            }
        }
    }

    &__list{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        height: 20rem;
        grid-gap: 2rem;
        justify-content: space-between;
        overflow-y: scroll;

        @media (max-width: 900px) {
            padding-bottom: 2rem;
        }

        @media (max-width: 735px) {
            padding-bottom: 2rem;
            grid-template-columns: 1fr;
            margin: 0 auto;
            padding: 0 1rem;
        }
    }
    
    &__product{
        position: relative;
        display: flex;
        width: 16rem;
        height: 10rem;
        padding: 1rem;
        background: var(--white);
        border-radius: 1rem;
        box-shadow: var(--shadow1);
        overflow: hidden;

        &-img{
            position: absolute;
            top: 3rem;
            right: 10%;
            bottom: -20%;
            width: 30%;
            height: 100%;
            transform: rotate(-20deg);
        }

        &-tag{

            div{
                display: flex;
                align-items: center;
                position: absolute;
                right: 10px;
                top: 10px;
            }

            &--icon{
                font-size: 1.5rem;
                color: orange;
            }

            span{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 35px;
                height: 35px;
                margin-left: 0.2rem;
                border-radius: 50%;
                background: var(--pink);
                color: var(--white);
            }
        }
    }

    &__card{
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        @media (max-width: 500px) {
            margin-top: 15px;
        }

        &-info{
            display: flex;
            flex-direction: column;

            h3{
                font-size: 1rem;
                font-weight: 600;
                text-transform: uppercase;
            }

            p{
                font-size: 0.7rem;
            }
        }

        span{
            font-size: 2rem;
            font-weight: bold;
        }

        button{
            width: max-content;
            padding: 10px 20px;
            font-size: 0.8rem;
            border: 1px solid var(--black);
            border-radius: 25px;
            color: var(--white);
            background: #3297FD;
            cursor: pointer;

            &:hover {
                background: #246eb8;

                @media (max-width: 900px){
                    background: #3297FD;
                }
            }
        }
    }
}