// Font
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

// Variables
:root{
    --black: #343434;
    --white: #fff;
    --bg: #F8E367;
    --shadow1: 0.2rem 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
    --pink: #FE956F;
    
}

// General setup 
* {
    box-sizing: border-box;
    margin: 0; 
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    color: var(--black);
    background: var(--bg);
    transition: all 3ms ease;
    scroll-behavior: smooth;
}

.App{
    display: flex;
    flex-direction: column;
}

a{
    text-decoration: none;
    color: inherit
}

ul {
    list-style-type: none;
}

// Scrollbar design
::-webkit-scrollbar{
    height: 12px;
    width: 12px;
}

::-webkit-scrollbar-track{
    background: rgba(255, 255, 255, 0.2);
    border-radius: 1ex;
}

::-webkit-scrollbar-thumb{
    background: skyblue;
    border-radius: 1ex;
}
